@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Ovo&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteudo-principal-do-titulo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: white;

}

.menu-item {
    display: flex;
    border-radius: 40px;
    border: none;
    background-color: rgba(204, 211, 214, 1);
    align-items: center;
    justify-content: center;
    width: 30%;
   font-family: 'Ovo', serif;
    font-size: 20px;
    color: rgb(17, 22, 29);
    box-shadow: 4px 4px 4px gray;
}

a {
    text-decoration: none;
    color: rgb(17, 22, 29);

}

.menu-item1 {
    display: flex;
    border-radius: 40px;
    background-color: rgba(139, 188, 111, 1);
    align-items: center;
    justify-content: center;
    width: 30%;
    border: none;
    font-family:'Atkinson Hyperlegible', sans-serif;
    font-size: 20px;
    color: rgb(17, 22, 29);
    box-shadow: 4px 4px 4px gray;
}

.menu-item2 {
    display: flex;
    border-radius: 40px;
    background-color: rgba(124, 154, 131, 1);
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 15px;
    border: none;
   font-family: 'Ovo', serif;
    font-size: 20px;
    color: rgb(17, 22, 29);
    box-shadow: 4px 4px 4px gray;
}

.logo {
    display: flex;
    justify-content: center;
    height: 150px;
    background-color: rgba(59, 79, 102, 1);
}

.menu-cabecalho {
    display: flex;
    justify-content: space-evenly;

}




.sessao-apresentaçao {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

}

.imagen-mulher-sentada {
    height: 100%;
    width: 100%;
}

.quadro-texto-lateral {
    display: flex;
    background-color: rgba(59, 79, 102, 1);
    padding: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    gap: 50px;
    margin-right: 20px;



}

.texto-lateral-titulo {
    width: 292px;
    height: 144px;
    left: 1248px;
    top: 167px;
   font-family: 'Ovo', serif;
    font-style: normal;
    font-weight: 00;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #CCD3D6;
    text-shadow: 3px black;
    text-shadow: 3px 3px 3px gray;
}


.texto-lateral {
   font-family: 'Ovo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #D9D9D9;
    margin-bottom: 50px;
}



#seguros {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    background-color: white;
   font-family: 'Ovo', serif;
    font-size: 18px;
    text-align: center;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: end;
    gap: 100px;

}

.img-seguros {
    border-radius: 100px;
    box-shadow: 5px 5px 5px rgba(59, 79, 102, 1);
}

.auto {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 20px;
    align-content: space-between;

}


.vida {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.h-seguro {
    font-size: 22px;
}

.botao {
    display: flex;
    border-radius: 40px;
    background-color: rgba(124, 154, 131, 1);
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
   font-family: 'Ovo', serif;
    font-size: 25px;
    text-align: center;
    border: none;
    color: white;
    box-shadow: 4px 4px 4px gray;


}



#cobertura1 {
    display: flex;
    align-items: center;
    height: 80vh;
    background-size: cover;
    background-image: url("./material/imagens e icones/pexels-dastan-khdir-12613341 1.png");

}

.homemdamontanha {
    display: flex;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 75%;
    opacity: 0.5;
    padding-left: 50px;
    box-shadow: 4px 4px 4px rgba(59, 79, 102, 1);

}

.texto1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.h-cobertura-vida {
   font-family: 'Ovo', serif;
    font-size: 24px;

}

.p-cobertura-vida {
   font-family: 'Ovo', serif;
    font-size: 18px;
    color: black;
}

#cobertura2 {
    display: flex;
    align-items: center;
    height: 80vh;
    background-size: cover;
    background-image: url("./material/imagens e icones/pexels-dastan-khdir-12613341 2.png");
    justify-content: flex-end;
}

.carroparado {
    display: flex;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 75%;
    opacity: 0.5;
    padding-left: 50px;
    box-shadow: 4px 4px 4px 4px rgba(59, 79, 102, 1);

}

.texto2 {
    opacity: 1;
    display: flex;
    flex-direction: column;
    opacity: 1;
    gap: 15px;

}

.h-cobertura-auto {
   font-family: 'Ovo', serif;
    font-size: 24px;
    color: black;
}

.p-cobertura-auto {
   font-family: 'Ovo', serif;
    font-size: 18px;
    color: black;
}


.sessao-das-figurinhas {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    background-color: white;
   font-family: 'Ovo', serif;
    font-size: 16px;
    align-items: baseline;
    gap: 100px;

}

.figuras1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 20px;

}

.figuras2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 20px;

}

.figuras3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 20px;

}

.h-figura {
   font-family: 'Ovo', serif;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

#sessao-do-formulario {
    display: grid;
    gap: 10%;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    background-color: rgba(59, 79, 102, 1);



}

.div-formulario {
    display: flex;
    flex-direction: column;
    padding: 15%;
    gap: 20%;


}

.texto-do-formulario {
   font-family: 'Ovo', serif;
    font-size: 35px;
    color: white;
    text-shadow: 3px 3px 3px gray;

}

.texto-do-formulario2 {
   font-family: 'Ovo', serif;
    font-size: 24px;
    color: white;
}




form {
    display: flex;
    flex-direction: column;
    padding: 40px;

    gap: 8px;
   font-family: 'Ovo', serif;

    color: white;
    font-size: 18px;

}

#nome {

    padding-top: 8px;
}

#email {
    padding-top: 8px;
}

#area {
    padding-top: 8px;
}

.botaosubmit {
    padding: 4px;
    display: flex;
    align-self: center;
    box-shadow: 3px 3px 3px gray;
}

.redesocial {
    display: flex;
    flex-direction: row;
    align-items: fle;
    gap: 15px;
   font-family: 'Ovo', serif;
    color: white;
    font-size: 15px;
    padding: 5%;
    justify-content: center;
}


#sessao-dos-icones {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    background-color: white;
   font-family: 'Ovo', serif;
    font-size: 18px;
    text-align: center;
    gap: 50px;
    align-items: baseline;

}

.icones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.rodape {
    display: flex;
    justify-content: space-between;
    background-color: rgba(59, 79, 102, 1);
    padding: 30px;
   font-family: 'Ovo', serif;
    font-size: 16px;
    text-align: start;
    color: white;

}

.botaodofim {
    padding: 4px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 3px gray;


}

.p-rodape {
   font-family: 'Ovo', serif;
    font-size: 15px;
}



@media screen and (min-device-width : 320px) and (max-device-width : 480px) {



    #conteudo-principal-do-titulo {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        background-color: white;

    }

    .menu-item {
        display: flex;
        border-radius: 40px;
        border: none;
        background-color: rgba(204, 211, 214, 1);
        align-items: center;
        justify-content: center;
        width: 32%;
       font-family: 'Ovo', serif;
        font-size: 16px;
        color: rgb(17, 22, 29);
    }

    a {
        text-decoration: none;
        color: rgb(17, 22, 29);
    }

    .menu-item1 {
        display: flex;
        border-radius: 40px;
        background-color: rgba(139, 188, 111, 1);
        align-items: center;
        justify-content: center;
        width: 32%;
        border: none;
       font-family: 'Ovo', serif;
        font-size: 16px;
        color: rgb(17, 22, 29);
    }

    .menu-item2 {
        display: flex;
        border-radius: 50px;
        background-color: rgba(124, 154, 131, 1);
        align-items: center;
        justify-content: center;
        width: 32%;
        padding: 15px;
        border: none;
       font-family: 'Ovo', serif;
        font-size: 16px;
        color: rgb(17, 22, 29);
    }


    .menu-cabecalho {
        display: flex;
        justify-content: space-evenly;
        padding: 3%;
    }

    .sessao-apresentaçao {
        display: flex;
        flex-direction: column;
    }

    #seguros {
        display: flex;
        flex-direction: column;
        padding: 40px;
        background-color: white;
       font-family: 'Ovo', serif;
        font-size: 18px;
        text-align: center;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: end;
        gap: 100px;
    }

    #cobertura1 {
        display: flex;
        align-items: center;
        width: 100%;
        background-size: cover;
        background-image: url("./material/imagens e icones/homemmontanha.png");
    }

    .homemdamontanha {
        display: flex;
        align-items: center;
        background-color: white;
        width: 70%;
        height: 80%;
        opacity: 0.5;
        padding-left: 30px;

    }

    .texto1 {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 8px;
    }

    .h-cobertura-vida {
       font-family: 'Ovo', serif;
        font-size: 20px;

    }

    .p-cobertura-vida {
       font-family: 'Ovo', serif;
        font-size: 16px;
        color: black;
    }

    #cobertura2 {
        display: flex;
        align-items: center;
        width: 100%;
        background-size: cover;
        background-image: url("./material/imagens e icones/carroparado.png");

    }

    .carroparado {
        display: flex;
        align-items: center;
        background-color: white;
        width: 70%;
        height: 80%;
        opacity: 0.5;
        padding-left: 30px;

    }

    .texto2 {

        display: flex;
        flex-direction: column;

        gap: 8px;

    }

    .h-cobertura-auto {
       font-family: 'Ovo', serif;
        font-size: 20px;
        color: black;
    }

    .p-cobertura-auto {
       font-family: 'Ovo', serif;
        font-size: 16px;
        color: black;
    }

    .sessao-das-figurinhas {

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5%;
        background-color: white;
       font-family: 'Ovo', serif;
        font-size: 14px;
        align-items: baseline;
        gap: 5%;

    }

    .h-figura {
       font-family: 'Ovo', serif;
        font-size: 14px;
        text-align: center;
        font-weight: 400;
    }

    #sessao-do-formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(59, 79, 102, 1);
        width: 100%;
        height: 100%;

    }

    .redesocial {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 15px;
       font-family: 'Ovo', serif;
        color: white;
        font-size: 15px;
        padding: 50px;
        justify-content: center;
    }

    .div-formulario {
        display: flex;
        flex-direction: column;
        gap: 20%;
        justify-content: center;
    }

    .texto-do-formulario {
        display: flex;
        flex-direction: column;
        padding: 10%;
       font-family: 'Ovo', serif;
        font-size: 36px;
        color: white;
        text-align: center;

    }

    .texto-do-formulario2 {
       font-family: 'Ovo', serif;
        font-size: 24px;
        color: white;
        text-align: center;
    }


    form {
        display: flex;
        flex-direction: column;
        padding: 40px;

        gap: 8px;
       font-family: 'Ovo', serif;
        color: white;
        font-size: 18px;

    }

    #nome {

        padding-top: 8px;
    }

    #email {
        padding-top: 8px;
    }

    #area {
        padding-top: 8px;
    }

    .botaosubmit {
        padding: 4px;
        display: flex;
        align-self: center;
    }

    #sessao-dos-icones {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5%;
        background-color: white;
       font-family: 'Ovo', serif;
        font-size: 18px;
        text-align: center;
        gap: 5%;
        align-items: baseline;

    }

    .icones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


}